/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');
@font-face {
  font-family: yekan;
  src: url('./Fa/fonts/Yekan.ttf');
}
*/

@font-face {
  font-family: Lobster;
  src: url('./Fa/fonts/CenturyGothic.ttf');
}


* {
  font-family: 'Lobster';
}

html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#top-footage {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  opacity: 0.7;
  /* position: fixed; */
}

#container {
  position: relative;
  float: right;
  max-width: 50%;
  background: #ccccccb5;
  padding: 10px;
  border-radius: 3px;
}

#header {
  display: block;
  border-bottom: 1px solid #000;
  font-size: 28px;
}

#options {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.lang {
  text-decoration: none;
  color: #000;
  font-size: 22px;
}

#fa {
  float: left;
}

#En {
  float: right;
}
