#special-img {
  position: relative;
  overflow: hidden;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(119deg, #bb8b02, transparent);
  transition: opacity 0.5s;
  transition-timing-function: ease-in-out;
  opacity: 0;
}

#special-img:hover .gradient {
  opacity: 1;
  cursor: pointer;
}

#category-photo-2 {
  transition: transform .2s;
}

#special-img:hover #category-photo-2 {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

#subcat-portfolio {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: none;
}

#subcat-portfolio span {
  color: #FFF;
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  right: 0;
  text-align: center;
}
